* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}

.distance-15 {
    padding: 0px 15px;
}

.flex-setting {
    width: 100%; display: flex; align-items: center;
}

.flex-space-between {
   display: flex; justify-content: space-between;
}

.flex-center {
    display: flex; justify-content: center;
 }

.tab-set-padding {
    flex: 0 0 0.5%;
    text-align: center;
    padding: 10px 0px;
}

.tab-set {
    flex: 0 0 33%; 
    text-align: center;
    padding: 10px 0px;
    border-bottom: 2px solid rgb(184, 183, 183);
    cursor: pointer;
}

.divide-line-color {
    border-bottom: 0.5px solid rgb(184, 183, 183);
}

.tab-set:hover,
.tab-set:active {
    border-bottom: 2px solid #1b5f8a;
}

.tab-set:hover p,
.tab-set:active p {
    color: #1b5f8a;
}

.text-href {
    font-weight: 600;
    font-size: calc(0.125vw + 17.6px);
    
}

.a-button {
    padding: 5px 10px;
    color: #1b5f8a;
    text-decoration: none;
}