* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

.distance-15 {
    padding: 0px 15px;
}

.flex-setting {
    width: 100%;
    display: flex; 
    align-items: center;
}

.flex-space-between {
   display: flex; justify-content: space-between;
}

.flex-center {
    display: flex; justify-content: center;
 }

.tab-set {
    flex-grow: 1; 
    text-align: center;
    padding: 10px 0px;
    border-bottom: 2px solid rgb(184, 183, 183);
    cursor: pointer;
}

.divide-line-color {
    border-bottom: 0.5px solid rgb(184, 183, 183);
}

.tab-set:hover,
.tab-set:active {
    border-bottom: 2px solid #1b5f8a;
    background-color: transparent;
}

.tab-set:hover p,
.tab-set:active p {
    color: #1b5f8a;
}

.tab-set:target {
    background-color: #1b5f8a;
    color: #ffffff;
    pointer-events: none;
  }

.text-href {
    font-weight: 600;
    font-size: calc(0.125vw + 17.6px);
    
}

.a-button {
    display: block;
    padding: 5px 10px;
    color: #1b5f8a;
    text-decoration: none;
    text-align: center;
}

.logo-title {
    color:#585858;
    font-size: calc(0.451141vw + 18.852349px);
}

.mobile-flex-direction-row {
    flex-direction: column;
}

.mobile-flex-direction-column {
    flex-direction: row;
}

.hamburger-tab {
    justify-content: center;
}

.hamburger-divide {
    border-left: 1px solid rgb(184, 183, 183);
}

.slick-slide img.hidden-767 {
    display: block;
}

.hidden-767 {
    display: block;
}

.slick-slide img.visible-767 {
    display: none;
}

.visible-767 {
    display: none;
}

.img-response {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
   
    .mobile-flex-direction-row {
        flex-direction: row;
    }

    .mobile-flex-direction-column {
        flex-direction: column;
    }

    .hamburger-divide {
        border-top: 1px solid rgb(184, 183, 183);
        border-left: 0px;
    }

    .slick-slide img.hidden-767 {
        display: none;
    }
    .hidden-767 {
        display: none;
    }

    .slick-slide img.visible-767 {
        display: block;
    }
    .visible-767 {
        display: block;
    }
    
}

@media screen and (max-width: 320px) {
    .logo-title {
        display: none;
    }
    
}